.canvas {
  overflow: hidden;
  background-size: 16px 16px;
  background-image:
    linear-gradient(to right, #80808014 1px, transparent 1px),
    linear-gradient(to bottom, #80808014 1px, transparent 1px);
}

.node-item {
  border: 1px solid #bbb;
  border-radius: 0.5em;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  z-index: 30;
  position: absolute;
  background-color: #fff;
  color: #000;
}

.node-item img {
  width: 26px;
  height: 26px;
}

.jtk-connector {
  z-index: 4;
}

.jtk-endpoint {
  z-index: 21;
  cursor: pointer;
}

.jtk-drag {
  border-radius: 0.5em;
  padding: 2px;
}

.jtk-drag-select * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}  

path,
.jtk-endpoint {
  cursor: pointer;
}

.jtk-overlay {
  background-color: transparent;
}

.node-label {
  position: absolute;
  bottom: -15px;
  white-space: nowrap;
  font-size: 10px;
}

.code-column {
  background-color: #282C34;
  min-height: inherit;
}

.cke_reset_all .CodeMirror-scroll * {
  white-space: pre;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #464646 #282c34;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #282c34;
}

*::-webkit-scrollbar-thumb {
  background-color: #464646;
  border-radius: 20px;
  border: 5px solid #282c34;
}
